*{
    margin: 0;
    padding: 0;
}
.footer{
    background-color:#7f7363;
    border:none;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 25px 35px;
    bottom: 0px;
    margin: 30px 0px 0px;
    margin-top: 60px;
    font-size: 1.1em;
    font-weight: 500;
}
.contact{
    display: flex;
    background-color: #a59986;
    justify-content: space-between;
    padding: 2em;
    height: 40px;
    width: 80%;
    box-sizing: border-box;
    flex-shrink: 0;
    place-items: center;
    box-shadow: -12px -12px rgba(0, 0, 0, 0.5);
    transform: translateY(-65px);
}
.contact p{
   color: #28221c;
   font-size: xx-large;
   font-weight: bolder; 
}
.contact a{
    background-color: #28221c;
    color: #fafafb;
    padding: 0.5em;
    text-decoration: none;
    text-wrap: nowrap;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    place-items: center;
   
}
.icons a{
    background-color: #fafafb;
    padding: 0.2em;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow:0 5px 10px #000000(0,0,0,0.05);
}
.icons a::before{
    content: attr(data);
    position: absolute;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px black(0,0,0,0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms ease;
}
.icons a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent ;
    border-right: 8px solid transparent ;
    border-top: 10px solid black;
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms ease;
}
.icon, .icons{
display: flex;
text-decoration: none;
align-items: center;
justify-content: center;
}
.icon{
    margin-left: 30px;
}
.icons a:hover::before{
   transform: translateY(-60px) rotate(0);
   opacity: 1;
}
.icons a:hover::after{
    transform: translateY(-35px) rotate(0);
    opacity: 1;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72vw;
}
hr{
    width: 100vw;
    border: 1px solid black;
}
@media screen and (max-width: 600px){
    .footer{
        flex-direction: column;
        align-items: center;
        height:100vh;
    }
    .contact{
        padding: 1em;
        width: 90%;
    }
    .contact p{
        color: #000000;
        font-size: x-large;
        font-weight: bold;
        text-wrap: wrap; 
    }
    .contact a{
        background-color: #1c1c1c;
        color: white;
        padding: 0.2em;
        text-decoration: none;
        text-wrap: nowrap;
    }
    .icon{
        left: 0px;
        align-items: center;
        /* margin-left:10px;
        margin-right: 10px; */
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    hr{
        width: 100vw;
        border: 1px solid black;
        margin-top: 80px;
    }
}