*{
  margin: 0;
  padding: 0;
}
body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  background-color: #fafafb;
}
/* 
#fafafb white
#a59986 beige
#030303 black
#7f7363 dark beige
#28221c ajeeb sa brown
#644d3a light brown
#140806 thoda light black
#4f2c17 dark brown 
*/